<%= form_for @person, :html => { :multipart => true } do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Name</h3>
    <%= f.text_field :name, :required => true %>
  </div><br />
  <div class="field">
    <h3>Phone Number:</h3>
    <%= f.text_field :phone, :required => true , :value => "+91"%>
  </div><br />
  <div class="field">
    <h3>Email ID</h3>
    <%= f.text_field :email, :required => true %>
  </div><br />
  <div class="field">
    <h3>TEQIP ID</h3>
    <%= f.text_field :teqip_roll %>
  </div><br />
<div class="field">
  <h3>Profile Picture</h3>
<% if @person.pic_file_name.present? %>
  <%= f.file_field :pic, :value => @person.pic.url %>
<% else %>
  <%= f.file_field :pic, :required => true %>
<% end %>
</div><br />
  <div class="actions">
    <center><%= f.submit %></center>
  </div>
<% end %>
