<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Title</h3>
    <%= f.text_field :title, :required => true %>
  </div><br />
  <div class="field">
    <h3>Description</h3>
    <%= f.text_area :description, :required => true, :size => "40x5" %>
  </div><br />
  <div class="field">
    <h3>List Of Participants</h3>
    <%= f.text_area :participants, :placeholder => "Enter the names separated by commas", :size => "40x5" %>
  </div><br />
  <div class="actions">
    <center><%= f.submit %></center>
  </div>
<% end %>
